
    <div class="modal-upload js-visible">
        <div class="modal-upload__content">
              <p class="modal-upload__text">
                    {{text}}
                </p>

             <div class="modal-upload__toolbar">
                 <button class="modal-upload__btn modal-upload--left">{{leftBtnName}}</button>
                 <button class="modal-upload__btn modal-upload--right">{{rightBtnName}}</button>
            </div>   
        </div>
        <div class="modal-upload__clicker">
            <span class="modal-upload__arrow">></span>
        </div>
       
    </div>
